@import './variables.scss';
@import './buttons/variables.scss';

.root {
	background-color: #eee;
	min-height: 100%;
}

.padding {
	padding: 20px 0 100px 0;		
}

.fabs {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.topmost {
	z-index: $back-index + 2;
	position: relative;
}
