@import '../global.scss';

$desktop-height: 124px;
$mobile-height: 80px;

.root {
	overflow: auto;
}

.list {
	@include grid;

	list-style: none;

	overflow: auto;
	padding: 0 0 5px 0;
	margin: 0;
}
.list > li {
	@media (min-width: 960px + 1) {
		@include col(1, 2);
	}
	@media (min-width: 1280px) {
		@include col(1, 4);
	}
	// Extra Large (4k)
	@media (min-width: 2560px) {
		@include col(1, 8);
	}
}
