.debug {
	.preview-layer {
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0.5;
		transition: none;
	}
	.guide {
		z-index: 999;
		position: absolute;
		width: 10px;
		opacity: 1;
		height: 10px;
		margin-left: -5px;
		margin-top: -5px;
		border-radius: 49%;
		background-color: black;
	}
	.guide.red {
		background-color: red;
	}
	.guide.cyan {
		background-color: darkcyan;
	}
	.guide.green {
		background-color: green;
	}
	.guide.blue {
		background-color: blue;
	}
	.guide.purple {
		background-color: purple;
	}
}
