{
	"presets": [
		"react",
		"es2015",
		"stage-0"
	],
	"plugins": [
		[
			"react-intl",
			{
				"messagesDir": "./lib/locales"
			}
		],
		"transform-decorators-legacy",
		[
			"transform-runtime",
			{
				"polyfill": false,
				"regeneator": true
			}
		]
	]
}