# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

 node-waf configuration
.lock-wscript

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# OSX
.DS_Store

# VSCODE
.vscode/launch.json

# DB
*.sqlite3

lib/
src/config/keystore/
src/config/server.config.json
