@import "../../variables.scss";
@import "./variables.scss";

.root {
	color: #fff;
	background-color: #455A64;

	transition: top $header-animation-props;

	@media (max-width: $two-column-width) {
		.menu {
			display: inline-block;
			text-align: center;
		}
	}
}
