@mixin hide-text-overflow {
	text-overflow: ellipsis;
	white-space: nowrap;

	overflow: hidden;
	display: block;
}

.root {
	background-color: #fff;
	font-family: Roboto, sans-serif;

	height: 48px;
	padding: 6px 0;

	a,
	a:active,
	a:focus {
		color: inherit;
	}
	a:hover {
		color: #666;
	}

}
.root.active {
	background-color: #607D8B;
	color: #fff;

	a {
		color: #fff;
	}
}

.primary {
	@include hide-text-overflow;
	cursor: text;

	color: #212121;
	font-size: 15px;
	line-height: 16px;

	padding: 4px 0 8px 0;
}
.active .primary {
	color: #fff;
}

.secondary {
	@include hide-text-overflow;

	color: #757575;
	font-size: 14px;
	line-height: 16px;

	margin: 0;
	padding-bottom: 4px;
}
.active .secondary {
	color: #fff;
}

.handle {
	cursor: move;
	padding: 12px 8px;
	float: left;
	height: 24px;
}

.menu {
	float: right;
}
