$header-container-height: $header-height + $header-padding-top;
$drawer-width: 280px;

$list-side-width: 220px;
$list-shrink-height: 50px;

$list-padding-width: 0;
$list-padding-height: 0;
$list-side-container-width: $list-side-width + $list-padding-width * 2;
