.root {
	background-color: #eee;
}

.instant-menu {
	position: fixed;
	right: 30px;
	bottom: 30px;
	button {
		margin: 0 3px;
	}
}

.menu-container {
	max-height: 0;
	transition: max-height 0.2s linear;
	position: absolute;
	overflow: hidden;

	button {
		display: block;
	}

	.menu-offset {
		position: relative;
		bottom: 0;
	}

	&.open {
		max-height: 300px;
		overflow: hidden;
	}
}
