@import './variables.scss';
@import './buttons/variables.scss';

.root {
	background-color: #eee;
}

.fabs {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.topmost {
	z-index: $back-index + 2;
	position: relative;
}
