$back-index: 10;

.root {
	background-color: #eee;
}

.instant-menu {
	position: fixed;
	right: 30px;
	bottom: 30px;
	button {
		margin: 0 3px;
	}
}

.topmost {
	z-index: $back-index + 2;
	position: relative;
}
.menu-container {
	max-height: 0;
	transition: display 0.2s linear;
	position: absolute;
	bottom: 30px;
	padding-bottom: 30px;
	display: none;

	button {
		display: block;
	}
	.menu-offset {
		position: relative;
		z-index: $back-index + 1;
	}

	.back {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: $back-index;
		display: none;
	}
	.back.open {
		display: block;
	}

	&.open {
		max-height: 300px;
		display: block;
	}
}
