@import "../../variables.scss";

.root {
	padding-bottom: 120px;
}

.form {
	background-color: #fff;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 10px;
	margin: 0;
	border-top: 1px solid #e0e0e0;

	@media (min-width: $two-column-width + 1) {
		left: $nav-side-width;
	}

	@media (min-width: $three-column-width + 1) {
		left: $list-width + $nav-side-width;
	}
}

.row {
	display: flex;	
}
