.item {
	width: inherit;
	margin: 10px 0;
	border: 1px solid #ccc;
	a {
		color: #000;
		text-decoration: none;
	}
}
.header {
	display: table;
	width: 100%;
	font-size: 1.5rem;
	padding: 5px 0;
	.handle {
		display: table-cell;
		vertical-align: middle;
		padding-left: 5px;
		width: 24px;
	}
	.title {
		display: table-cell;
		line-height: 2rem;
		word-break: break-all;
	}
	.more {
		position: relative;
		display: table-cell;
		width: 32px;
		padding-right: 0;
		vertical-align: middle;
	}
}
.content {
	background-color: #333;
	padding: 5px;
	text-align: right;
	button {
		color: #fff;
	}
}
