@import "../../global.scss";
@import "./variables.scss";

.root {
	padding-top: $header-container-height + $nav-narrow-height;

	transition: padding-top $header-animation-props;

	@media(min-width: $two-column-width + 1) {
		padding-left: $nav-side-width;
		padding-top: $header-container-height;
	}

	a {
		color: $link-color-alt;
		text-decoration: inherit;
	}
	a:hover {
		color: $link-color-alt-hover;
	}
}
.root.hide-top {
	padding-top: 10px;
	padding-bottom: $header-container-height;
}

.header {
	position: fixed;
	z-index: $dim-index - 1;
	left: 0;
	top: 0;
	right: 0;

	transition:
		left $header-animation-props,
		top $header-animation-props;
}
.hide-top .header {
	top: -$header-container-height;
}

.drawer {
	background-color: #fff;

	position: fixed;
	z-index: $dim-index + 1;
	left: 0;
	top: 0;
	width: $drawer-width;
	bottom: 0;
	overflow: auto;

	transition:
		left $header-animation-props,
		opacity $header-animation-props;
	opacity: 1;
}
.hide-drawer .drawer {
	left: -$drawer-width;
	opacity: 0;
}

.nav {
	position: fixed;
	top: $header-container-height;
	left: 0;
	bottom: 0;
	width: $nav-side-width;
	overflow: auto;

	@media (max-width: $two-column-width) {
		position: absolute;
		right: 0;
		bottom: auto;
		width: auto;
		height: $nav-narrow-height;
		overflow: hidden;
	}
}
.hide-top .nav {
	top: 0;
}
