.item {
	p {
		margin: 0;
		padding: 0;
	}
	.title {
		font-weight: 'bold';
		margin-bottom: 5px;
	}
	.who {
		font-size: 0.8em;
		text-align: right;
		white-space: nowrap;

		text-overflow: ellipsis;
		overflow: hidden;

		float: right;
		width: 30%;
	}
}
