@import "./variables.scss";
@import "./mixins.scss";

:global {
	html {
	  -ms-content-zooming: none;
	}
	a[type=button],
	span[type=button] {
		appearance: none;
	}
	body {
		color: $font-color;
		background: $back-color;

		@media(max-width: $three-column-width) {
		//	background-color: #fff;
		}
	}
}
