$font-color : #263238;
$back-color: #ECEFF1;

$font-color-alt: #fff;
$back-color-alt: $font-color;

$link-color: #000;
$link-color-hover: #263238;

$link-color-alt: #fff;
$link-color-alt-hover: #F5F5F5;

$header-padding-top: 12px;
$header-height: 52px;
$header-animation-props: 0.15s ease-out;
